@charset "UTF-8";

/*.main-header{
    background-color: #e2599b;
}
.navbar-brand{
    color: #ffffff;
}
.white{
    color: #ffffff;   
}
.hover :hover{
    background-color: #ce3b81!important;
    color: #f2f2f2;
}
*/
html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
}
header{
    background-color: #e2599b;
    color: #ffffff;
}
.a-title{
    color: #ffffff;
}
.a-title:hover{
    color: #ffffff;
    text-decoration: none;
}
li > a{
    color: #d24848;
}
/*レイアウト*/
.main-header{
    margin: 0px 40px 0px;
}
.title{
    display: inline-block;
    font-size: 20px;
    margin: 10px;

}
.head-menu{
    float: right;
    list-style-type: none;
    margin-top: 15px;
    /*vertical-align: middle;*/
}
.head-menu li{
    /*float: left;*/
    display: block;

}
#logout-form{
    display: none;
}
.side{
    background-color: #f2f2f2;
    float: left;
    height: 100%;
    width: 200px;
}
.login-form{
    padding: 10px;
    margin: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
}
.margin-auto{
    margin: 0 auto;
}
.login-top{
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 10px;
}
.width100{
    width: 100% !important;
}

/*----------コンポーネント------------*/
/*サイドバーメニュー*/
.sidebar{
    margin: 0;
    list-style-type: none;
    /*background-color: #d2d6de;*/
    padding: 0;
}
.sidebar > li{
    margin: 10px;
}
.sidebar .large-sidebar > ul{
    padding: 0;
}
.sidebar .small-sidebar{
    /*background-color: #f9fafc;*/
    width: 100%;
    padding-left: 15px;
}
/*home*/
.score{
    overflow: hidden;
}
.score-month{
    float: left;
    width: 50%;
    text-align: center;
}
.score-year{
    float: left;
    width: 50%;
    text-align: center;   
}
.contents{
    background-color: #dedede;
    border-radius: 5px;
    width: 70%;
}
.safe{
    background-color: #58cc72;
}
.danger{
    background-color: #ff6363;
}
.rest-pt{
    font-size: 30px;
}
.pt-month,.pt-year{
    font-size: 50px;
}
/*index*/
.main-contents-index{
    background-color: #ffffff;
    margin-left: 200px;
    height: 100%;
}
.routine{
    display: inline-block;
}
.contents-name{
    font-size: 20px;
    position: relative;
    margin: 10px;
    overflow: hidden;
}
.routine-register{
    background-color: #eaeef1;
    padding: 15px;
}
.routine-box{
    height: 80%;
    overflow: hidden;
    width: 100%;
}
.routine-space{
    float: left;
    height: 90%;
    width: 40%;
    overflow: scroll;
}
.area{
    align-items: center;
    border: 1px solid #a1a1a1;
    display: flex;
    height: 60px;
    margin: 0 auto;
    margin-top: 10px;
    /*text-align: center;*/
    width: 40%;
}
.area:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}
.background{
    background-color: #f2f2f2;   
}
.space-name{
    margin: 0 auto;

}
.routine{
    height: 90%;
    overflow: scroll;
    text-align: center;
    width: 60%;
}
.popover {
    height: 50px;
    width: 500px;
}
.fade{
    opacity: 1!important;
}
#routine-name{
    width: 100%;
}
/*ranking.blade.php*/
.main-contents-rank,.main-contents-history, .main-contents-home{
    background-color: #ffffff;
    margin-left: 300px;
    margin-right: 100px;
    margin-top: 50px;
}
.rank-top,.history-top{
    margin: 10px;
    overflow: hidden;
    position: relative;
}
.rank-day,.history-label{
    float: left;
    font-size: 20px;
    left: 40%;
    position: relative;
}
.month-search{
    float: right;
    position: relative;
}
.rank-top > div >select{
    /*float: right;*/
    position: relative;
}
.rank-top > div > button{
    /*float: right;*/
    position: relative;
    /*right: 30%;*/
}
.rank-table,.staff-table,.data-table {
    text-align: center;
}
.rank-table > td{
    /*border: 1px solid #000000!important;*/
    font-size: 20px;
}
.first{
    color: #ca9f20;
    font-size: 20px;
}
.first-font{
    font-size: 20px;
}
.second{
    color: #9FA0A0;
}
.third{
    color: #C47022;
}
.rank-fromto{
    float: left;
    font-size: 20px;
    position: relative;
}
/*staff.blade.php*/
.staff-admin{
    font-size: 20px;
    position: relative;
    margin: 10px;
    overflow: hidden;
}
.staff{
    overflow: hidden;
}
.form-staff{
    float: left;
    width: 40%;
}
/*.form-staff > form > div > div > input{
    width: 90%;
}*/
.staff-list{
    display: inline-block!important;
    width: 60%!important;
}
/*.form-staff{
    margin: 10px;
}*/

/*data.blade.php*/
.edit-area{
    height: 90%;
    overflow: hidden;
}
.space-area,.point-area{
    float: left;
    height: 100%;
    /*overflow: scroll;*/
    width: 30%;
}
.frequency-area{
    height: 100%;
    margin-left: 60%;
}
.create-logo{
    padding-left: 15px;
}
.data-table{
    text-align: center;
    width: 90%!important;
}
.new-form{
    text-align: center;
}
.new-create{
    border:1px solid #ced4da;
    border-radius: 3px;
}
.scroll{
    overflow: scroll;
    height: 90%;
}